---
let mapConfig = {
  center: { lat: 0, lng: 0 },
  zoom: 1,
  mapId: "DEMO_MAP_ID",
};
let mapScript = "";

if (typeof window !== "undefined") {
  // İstemci tarafında çalıştır
  (async () => {
    const baseUrl = import.meta.env.PUBLIC_SITE_URL || 'http://localhost:8888';
    const functionPath = '/.netlify/functions/getMapData';
    const url = `${baseUrl}${functionPath}`;

    try {
      const response = await fetch(url, { mode: 'cors' });
      if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
      const data = await response.json();
      
      // Gelen verileri güncelle
      mapConfig = data.mapConfig;
      mapScript = data.mapScript;
    } catch (error) {
      console.error("Error fetching map data:", error);
    }
  })();
}
---

<section class="map-section" client:only="javascript">
  <div class="map-container">
    <gmp-map center={`${mapConfig.center.lat},${mapConfig.center.lng}`} zoom={mapConfig.zoom} map-id={mapConfig.mapId}>
      <gmp-advanced-marker 
        position={`${mapConfig.center.lat},${mapConfig.center.lng}`} 
        title="My location">
      </gmp-advanced-marker>
    </gmp-map>
  </div>

  <!-- Google Maps API Script -->
  {mapScript && <script is:inline>{mapScript}</script>}
</section>

<style>
  .map-section { width: 100%; height: 50vh; }
  .map-container { width: 100%; height: 100%; }
  gmp-map { width: 100%; height: 100%; display: block; }
</style>
