---
import config from "@/config/config.json";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
const { summary_length } = config.settings;

type Props = {
  posts: CollectionEntry<"blog">[];
};
const { posts } = Astro.props;
---

<h2 class="h4 mb-4">Featured Posts</h2>
<div class="featured-posts row">
  {
    posts.map((post) => (
      <div class="mb-8 md:col-6">
        <div class="card">
          <Image
            class="card-img"
            width={235}
            height={304}
            src={post.data.image!}
            alt={post.data.title}
          />
          <div class="card-content">
            <div class="card-tags space-x-1">
              {post.data.categories.map((category) => (
                <a class="tag" href={`/categories/${slugify(category)}`}>
                  {humanize(category)}
                </a>
              ))}
            </div>
            <h3 class="h4 card-title">
              <a href={`/blog/${post.id}`}>{post.data.title}</a>
            </h3>
            {post.body && (
              <p class="mb-4 text-text">
                {plainify(post.body?.slice(0, Number(summary_length)))}...
              </p>
            )}

            <div class="card-footer mt-6 flex space-x-4">
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>
