---
import Base from "@/layouts/Base.astro";
import Banner from "@/layouts/components/Banner.astro";
import Slider from "@/layouts/components/Slider.astro";
import KeyFeatures from "@/layouts/components/KeyFeatures.astro";
import Service from "@/layouts/components/Service.astro";
import Testimonial from "@/layouts/components/Testimonial.astro";
import Cta from "@/layouts/partials/Cta.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import config from "@/config/config.json";
import Blog from "@/components/Blog.astro"; // Blog component
import MapLayout from "@/layouts/Map_Layout.astro";
import CardAnimation from '@/components/CardAnimation.astro';

const layers = 3; // Toplam katman sayısı
const cardsPerLayer = [5, 6, 10]; // Her katman için kart sayısı
const homepage = (await getEntry(
  "homepage",
  "-index"
)) as CollectionEntry<"homepage">;
const { slider, banner, key_features, service, testimonial } = homepage.data;

// Blog verilerini al
const posts = await getSinglePage("blog");
const sortedPosts = sortByDate(posts);
const recentPost = sortedPosts.filter((item) => !item.data.featured);
const currentPosts = recentPost.slice(0, config.settings.pagination);
---
<Base>
  <CardAnimation layers={layers} cardsPerLayer={cardsPerLayer} />
  <Banner banner={banner} />
  <KeyFeatures key_features={key_features} />
  <Service service={service} />
  <Testimonial testimonial={testimonial} />

  <!-- Recent Posts Bölümü -->
  <section class="recent-posts">
    <div class="container">
      <h2 class="h4 mb-4">En Yeni Gönderiler</h2>
      <Blog posts={currentPosts} />
    </div>
  </section>

</Base>
